@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

button {
  background-color: lightblue;
  border: 1px solid blue;
  cursor: pointer;
}

.form {
  margin: 10px 30px;
  width: 90%;
}

.form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.form textarea {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: 100px;
  resize: none;
  padding: 5px;
}

